<form class="search-bar" action="/cars" method="get">
  <label>
    <span>Марка</span>
    <input type="text" name="brand" placeholder="BMW" />
  </label>
  <label>
    <span>Модель</span>
    <input type="text" name="model" placeholder="X5" />
  </label>
  <label>
    <span>Город</span>
    <input type="text" name="city" placeholder="Берлин" />
  </label>
  <label>
    <span>Цена до</span>
    <input type="number" name="price_max" placeholder="50000" min="0" />
  </label>
  <button class="button button-dark" type="submit">Найти</button>
</form>
